@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", "Lato", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

:root {
  --bg-color: #161b28;
  --bg-light: #283149;
  --bg-grey: #3a476a;
  --font-color: #ffffff;
  --border-hover-color: #00cfc8;
}

.dark {
  --bg-color: #161b28;
  --bg-light: #283149;
  --bg-grey: #3a476a;
  --font-color: #ffffff;
  --border-hover-color: #00cfc8;
}

.light {
  --bg-color: #ffffff;
  --bg-light: #283149;
  --bg-grey: #c6cbda;
  --font-color: #161b28;
  --border-hover-color: #00cfc8;
}
