.search-form {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: 0px;
}

.search-wrapper {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--bg-color);
}

.search-input {
  width: 250px;
  height: 45px;
  transition: width 0.3s ease-in-out;
  padding: 10px 20px 10px 40px;
  border: 2px solid var(--bg-light);
  border-radius: 15px;
  background-color: var(--bg-grey);
  color: var(--bg-color);
}

.search-input:focus {
  width: 300px;
  outline: none;
  color: var(--font-color);
  border: 2px solid var(--bg-light);
}
