.container_page {
  margin: 0;
  padding: 20px 50px;
}

.post-page-header-container {
  padding: 20px 200px;
  font-size: 20px;
  color: var(--font-color);
}

.post-page-image-div-container {
  display: grid;
  place-items: center;
}

.main-image {
  width: 350px;
  height: 350px;
  padding-top: 10px;
}

.post-page-text-div-container {
  padding: 50px 200px;
  font-size: 18px;
}

.post-page-text-div-container p {
  color: var(--font-color);
}

.post-page-button-container {
  display: flex;
  justify-content: end;
  padding: 20px 200px;
  gap: 15px;
}

.post-page-button-container button {
  height: 40px;
  width: 70px;
  border-radius: 10px;
  border: 1px solid var(--border-hover-color);
  background: var(--bg-color);
  color: var(--border-hover-color);
  cursor: pointer;
}
